@import url(http://fonts.googleapis.com/css?family=Dosis:400|Roboto);

body {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  width: 8%;
}

.homeBackground {
  background-image: url('../img/newyorksky.jpg');
}

.seattle {
  background-image: url('../img/seattle.jpg')
}

.asheville {
  background-image: url('../img/asheville.jpg')
}

.portland {
  background-image: url('../img/portland.jpeg')
}

.austin {
  background-image: url('../img/austin.jpg')
}

.newYork {
  background-image: url('../img/newyork.jpeg')
}

.backgroundBand {
  background-color: rgba(61, 61, 61, 0.4);
  margin-top: 16%;
  padding-left: 15%;
}

.backgroundBand h1 {
  font-size: 3.5em;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 0;
}

.backgroundBand h2 {
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
  margin-top: 1%;
  padding-left: 2%;
}

.citySelector {
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
}

.citySelector p {
  font-size: 1.15em;
  float: left;
  padding-right: 3%;
}

.hidden {
  width: 65%;
}

select {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  background-image: none;
  font-family: 'Roboto', sans-serif;
}

select option {
  background: solid;
  color:black;
}

nav {
  padding: 0 1% 0 0;
  background-color: rgba(1, 52, 91, 0.78);
  margin-right: 5%;
  float: right;
}

nav a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.cityInfo {
  text-align: center;
  margin: 0 15%;
}

.locationImage {
  border-radius: 10px 0 0 10px;
  width: 25%;
  float: left;
  margin-right: 3.5%;
}

.locationsContainer {
  margin: 0 15%;
}

.location-info {
  border-radius: 10px;
  background-color: rgba(1, 52, 91, 0.78);
  margin: 5%;
}

.location-info h1 {
  padding-top: 2%;
  font-family: 'Dosis', sans-serif;
}

.locationDetails {
  width: 69%;
  float: right;
  padding-right: 2%;
}

.filters {
  font-size: 0.9em;
  border-radius: 10px;
  position: fixed;
  top: 26.3%;
  right: 5%;
  padding: 1% 1%;
  width: 8%;
  background-color: rgba(1, 116, 106, 0.9);
}

.filters h1{
  font-size: 1.25em;
  font-family: 'Dosis', sans-serif;
}

.filters ul{
  padding: 0px;
}

.filters li {
  display: block;
  margin: 0 auto;
  list-style-position: inside;
  padding-top: 2%;
}

#filterButton {
  margin-top: 7%;
}

.favs {
  border-radius: 10px;
  position: fixed;
  top: 60%;
  right: 5%;
  padding: 1% 1%;
  width: 8%;
  background-color: rgba(2, 32, 39, 0.9);
}

.favs h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.25em;
}

#favItems {
  padding: 0px;
}

#favItems li{
  border-bottom: 1px solid #FFF;
}

.favButton {
  margin-left: 0;
}

button {
  border: 2px solid #FFF;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 8px;
  outline: 0;
  margin: 1%;
}

button:hover {
  background-color: rgba(256, 256, 256, 0.4);
}

button:active {
  background-color: rgba(256, 256, 256, 0.8);
}

.cityInfo h1 {
  float: left;
  font-size: 3.5em;
  font-family: 'Dosis', sans-serif;
}

.anotherCity {
  float: right;
  margin-right: 6%;
  padding-top: 2%;
} 

.anotherCity h2 {
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.25em;
}

.tags {
  background-color: rgba(1, 116, 106, 0.7);
  display: inline;
  padding: 4px 7px;
  border-radius: 4px;
}

#submit {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
